asgiref==3.4.1
cmdkit==2.6.0
Django==3.2.5
djangorestframework==3.12.4
importlib-metadata==4.6.1
Markdown==3.3.4
names==0.3.0
names-generator==0.1.0
pytz==2021.1
PyYAML==5.4.1
sqlparse==0.4.1
typing-extensions==3.10.0.0
uritemplate==3.0.1
zipp==3.5.0
